@font-face {
    font-family: chalk;
    src: url('../coalhandluketrial.ttf') format("truetype");
}

.NavbarItems {
    background: linear-gradient(90deg, rgba(137, 137, 137, 0.68), #212121ff 14%, #212121ff 40%, #00a2e8);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.parent {
    background: linear-gradient(90deg, rgba(137, 137, 137, 0.68), #212121ff 14%, #212121ff 40%, #2c34a3);
}

.teacher {
    background: linear-gradient(90deg, rgba(137, 137, 137, 0.68), #212121ff 14%, #212121ff 40%, #fff200);
}

.student {
    background: linear-gradient(90deg, rgba(137, 137, 137, 0.68), #212121ff 14%, #212121ff 40%, #22b14c);
}

.navbar-logo {
    font-family: chalk, sans-serif;
    font-size: 190%;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-logo-img {
    filter: invert(100%);
    margin-left: 10px;
    margin-bottom: 7px;
    width: 8%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}