@font-face {
    font-family: chalk;
    src: url('coalhandluketrial.ttf') format("truetype");
}

.NavbarItems {
    background: linear-gradient(90deg, rgba(137, 137, 137, 0.68), #212121ff 14%, #212121ff 40%, #1e1e1e);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    font-family: chalk, sans-serif;
    font-size: 190%;
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-logo-img {
    filter: invert(100%);
    margin-left: 10px;
    margin-bottom: 7px;
    width: 8%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.navbar-link-container{
    text-decoration: none;
}

.nav-links {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-links:hover {
    background-color: #50a8ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links:active {
    background-color: #fc3f3f;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}