@font-face {
    font-family: chalk;
    src: url('./Components/coalhandluketrial.ttf') format("truetype");
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    overflow: hidden;
}

#background-image {
    float: left;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#sidebar {
    overflow: hidden;
    line-break: auto;
    float: left;
    width: 290px;
    padding-bottom: 20px;
    background: linear-gradient(to right, rgba(137, 137, 137, 0.68), #212121 90%);
}

#sidebar li {
    margin-left: 15%;
    list-style: none;
}

#sidebar .sidebar-buttons {
    color: #fff;
    font-size: large;
    margin-top: 10px;
    padding: 5px;
    border: none;
    background: none;
    text-align: center;
}

#sidebar .sidebar-buttons:hover {
    background-color: #50a8ff;
    border-radius: 4px;
    transition: all 0.2s ease-out; 
}

#sidebar .sidebar-buttons:active {
    background-color: #fc3f3f;
    border-radius: 4px;
    transition: all 0.2s ease-out; 
}